<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Green Plant</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer></script>
	</head>
	<body class="font-body">
		<%- include('components/navbar', {user}) %>
		<main class="mx-auto min-h-full max-w-7xl sm:px-6 lg:px-8">
			<%- include('components/hero', {image: '/images/hero-1.jpg', flip: true, user}) %>
			<br />
			<%- include('components/feature') %>
			<br />
			<%- include('components/popular') %>
			<br />
			<%- include('components/testimonials') %>
		</main>
		<%- include('components/footer') %>
	</body>
</html>
